body {
    background-color: #27a99c; /* Alterar a cor de fundo da página */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.btn.btn-primary {
    background-color: #007bff; /* Cor do botão */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn.btn-primary:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
